body {
    font-family: Arial, sans-serif;
    background-image: url("../media/");
    padding: 20px;
}

h1, h2 {
    text-align: center;
}

form {
    max-width: 600px;
    margin: auto;
    background: rgba(255, 255, 255, 0.671);
    backdrop-filter: blur(5px);
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #0003;
}

label {
    font-weight: bold;
    margin-top: 10px;
    display: block;
}

input, select, button {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
}

button {
    background: #333;
    color: white;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 5px;
}

button:hover {
    background: #555;
}
