body {
    font-family: Arial, sans-serif;
    background-image: url("../media/FOGÓN\ 🔥.jpeg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    padding: 20px;
}

h1, h2 {
    text-align: center;
}
h1{
    color: white;
}

form {
    max-width: 600px;
    margin: auto;
    background: rgba(255, 255, 255, 0.671);
    backdrop-filter: blur(5px);
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #0003;
}

label {
    font-weight: bold;
    margin-top: 10px;
    display: block;
}

input, select, button {
    width: 60%;
    padding: 10px;
    margin-top: 5px;
}

button {
    background: #333;
    color: white;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 5px;
}

button:hover {
    background: #555;
}

.columnas {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}


.columna {
    flex: 1;
    min-width: 250px;
}

.columna input,
.columna select {
    width: 100%;
    box-sizing: border-box;
}

#obra_social_opcion {
    width: auto;
    padding: 10px;
}

img {
    max-width: 100%;
    margin-top: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
}
.elH{
    color: black;
}