/* FONDO */
body {
  scroll-behavior: smooth;
  background-image: url("../media/fondo.jpeg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

/* NAVBAR DE VIDRIO */
.glass-nav {
  backdrop-filter: blur(10px);
  background: rgba(35, 100, 9, 0.6) !important;
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 2000;
}
.nav-link{
    color: rgb(240, 240, 240);
}
/* SECCIONES */
.section-box {
  padding: 60px 25px;
  background: rgba(255, 255, 255, 0.801);
  border-radius: 12px;
  margin-top: 90px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
}
/* IMÁGENES */
.img-uniforme {
  width: 150px;
  height: 140px;
  object-fit: contain;
  background: white;
  padding: 20px;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.4s ease;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
.img-uniforme:hover {
  transform: scale(1.18);
  box-shadow: 0 0 20px rgba(255,255,255,0.9);
}
.otro{
  width: 150px;
  height: 140px;
  object-fit: contain;
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
/* TEXTO DESCRIPTIVO */
#imageText {
  animation: aparecer 0.6s ease forwards;
  background: rgba(255, 255, 255, 0.85);
  border-radius: 12px;
}

@keyframes aparecer {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}

/* ANIMACIÓN AL SCROLL */
.fade-in {
  opacity: 0;
  transform: translateY(30px);
  transition: 1s ease;
}

.fade-in.show {
  opacity: 1;
  transform: translateY(0);
}

